<header class="top-header">
    <div class="top-header-content container">
        <div class="top-header-left">
            <a href="/" class="logo">
                <img src="/assets/img/logo.png" alt="logo" class="logo__pic">
                <span class="logo__text">BRAN<span class="logo__text logo__text_pink">D</span></span>
            </a>
            <div class="search">
                <details class="search__browse">
                    <summary class="search__popup">Browse</summary>
                    <div class="drop-menu drop-menu_search">
                        <div class="drop-menu__arrow drop-menu__arrow_search"></div>
                        <div class="drop-menu__flex">
                            <h3 class="drop-menu__headline">Women</h3>
                            <ul class="drop-menu__list">
                                <li class="drop-menu__item"><a href="#" class="drop-menu__link">Dresses</a></li>
                                <li class="drop-menu__item"><a href="#" class="drop-menu__link">Tops</a></li>
                                <li class="drop-menu__item"><a href="#" class="drop-menu__link">Sweaters/Knits</a></li>
                                <li class="drop-menu__item"><a href="#" class="drop-menu__link">Jackets/Coats</a></li>
                                <li class="drop-menu__item"><a href="#" class="drop-menu__link">Blazers</a></li>
                                <li class="drop-menu__item"><a href="#" class="drop-menu__link">Denim</a></li>
                                <li class="drop-menu__item"><a href="#" class="drop-menu__link">Leggings/Pants</a></li>
                                <li class="drop-menu__item"><a href="#" class="drop-menu__link">Skirts/Shorts</a></li>
                                <li class="drop-menu__item"><a href="#" class="drop-menu__link">Accessories</a></li>
                            </ul>
                            <h3 class="drop-menu__headline">Men</h3>
                            <ul class="drop-menu__list">
                                <li class="drop-menu__item"><a href="#" class="drop-menu__link">Tees/Tank tops</a></li>
                                <li class="drop-menu__item"><a href="#" class="drop-menu__link">Shirts/Polos</a></li>
                                <li class="drop-menu__item"><a href="#" class="drop-menu__link">Sweaters</a></li>
                                <li class="drop-menu__item"><a href="#" class="drop-menu__link">JSweatshirts/Hoodies</a>
                                </li>
                                <li class="drop-menu__item"><a href="#" class="drop-menu__link">Blazers</a></li>
                                <li class="drop-menu__item"><a href="#" class="drop-menu__link">Jackets/vests</a></li>
                            </ul>
                        </div>
                    </div>
                </details>
                <form action="#" class="search__form">
                    <input type="search" placeholder="Search for Item..." class="search__text"/>
                    <button value="" name="hidden" type="submit" class="search__button"><img
                                src="/assets/img/search-button.png"
                                alt="search">
                    </button>
                </form>
            </div>
        </div>
        <div class="top-header-right">
            {% if user.user_name %}
                <div class="user">
                    <p class="user__welcome">Welcome &nbsp; <span class="user user__name">{{ user.user_name }}</span>
                    </p>
                </div>
            {% endif %}
            <!--Create a miniCart-->
            <div class="mini_basket">
                <div class="cart">
                    <p class="cart__qnt"></p>
                </div>
                <div class="drop-menu drop-menu_cart" id="cart-drop">
                    {#<div class="drop-menu__arrow drop-menu__arrow_cart"></div>#}
                    <div class="drop-menu__flex drop-menu__flex-cart">

                    </div>
                </div>
            </div>
            <!--End of a miniCart-->

            <details class="my-account">
                <summary class="my-account__text">My Account</summary>
                {% if user.user_name %}
                    <div class="my-account__form">
                        <p class="my-account__text"><a href="/user/cabinet/" class="my-account__link">Your profile</a>
                        </p>
                        <p class="my-account__text"><a href="/user/order/" class="my-account__link">Orders</a></p>
                        <p class="my-account__text"><a href="/user/message/" class="my-account__link">Messages</a></p>
                        <br>
                        <p class="my-account__text"><a href="/user/logout/"
                                                       class="my-account__link my-account__link_out">LogOut</a>
                        </p>
                    </div>
                {% else %}
                    <form action="/user/login/" method="POST" class="my-account__form">

                        <div>
                            <label for="loginInput">User login</label>
                            <input type="text"
                                   name="User[login]"
                                   value="{{ model.login }}"
                                   class="my-account__input"
                                   id="loginInput"
                                   autocomplete="off">

                            <small id="loginHelp" class="form-text text-danger">{{ model.errors.login }}</small>
                        </div>

                        <div>
                            <label for="passwordInput">Password</label>
                            <input type="password"
                                   name="User[password]"
                                   value="{{ model.password }}"
                                   class="my-account__input"
                                   id="passwordInput">

                            <small id="passwordHelp" class="form-text text-danger">{{ model.errors.password }}</small>
                        </div>
                        <input type="checkbox" name="check"> Remember<br>
                        <a href="#" class="my-account__help">Need help? </a><br>
                        <a href="/user/reg/" class="my-account__signup"> Sign Up </a>
                        <button type="submit" class="my-account__submit">Sign In</button>
                    </form>
                {% endif %}
            </details>
        </div>
    </div>
</header>
<nav class="top-menu">
    <ul class="top-menu__list">
        {% if  active.page == "index" %}
            <li class="top-menu__item"><a href="/" class="top-menu__link top-menu__link_current-page">Home</a></li>
        {% else %}
            <li class="top-menu__item"><a href="/" class="top-menu__link">Home</a></li>
        {% endif %}

        {% if active.page == "man" %}
        <li class="top-menu__item"><a href="/catalog/man/" class="top-menu__link top-menu__link_current-page">Man</a>
    {% else %}
        <li class="top-menu__item"><a href="/catalog/man/" class="top-menu__link ">Man</a>
            {% endif %}
            <div class="drop-menu">
                <div class="drop-menu__arrow  drop-menu__arrow_man"></div>
                <div class="drop-menu__flex">
                    <h3 class="drop-menu__headline">MAN</h3>
                    <ul class="drop-menu__list">
                        <li class="drop-menu__item"><a href="#" class="drop-menu__link">Dresses</a></li>
                        <li class="drop-menu__item"><a href="#" class="drop-menu__link">Tops</a></li>
                        <li class="drop-menu__item"><a href="#" class="drop-menu__link">Sweaters/Knits</a></li>
                        <li class="drop-menu__item"><a href="#" class="drop-menu__link">Jackets/Coats</a></li>
                        <li class="drop-menu__item"><a href="#" class="drop-menu__link">Blazers</a></li>
                        <li class="drop-menu__item"><a href="#" class="drop-menu__link">Denim</a></li>
                        <li class="drop-menu__item"><a href="#" class="drop-menu__link">Leggings/Pants</a></li>
                        <li class="drop-menu__item"><a href="#" class="drop-menu__link">Skirts/Shorts</a></li>
                        <li class="drop-menu__item"><a href="#" class="drop-menu__link">Accessories</a></li>
                        <li class="drop-menu__item"><a href="#" class="drop-menu__link">Bags/Purses</a></li>
                        <li class="drop-menu__item"><a href="#" class="drop-menu__link">Accessories</a></li>
                    </ul>
                </div>
                <div class="drop-menu__flex">
                    <h3 class="drop-menu__headline">MEN</h3>
                    <ul class="drop-menu__list">
                        <li class="drop-menu__item"><a href="#" class="drop-menu__link">Swimwear/Underwear</a></li>
                        <li class="drop-menu__item"><a href="#" class="drop-menu__link">Nightwear</a></li>
                        <li class="drop-menu__item"><a href="#" class="drop-menu__link">Shoes</a></li>
                        <li class="drop-menu__item"><a href="#" class="drop-menu__link">Polos</a></li>
                        <li class="drop-menu__item"><a href="#" class="drop-menu__link">Sweaters & Knits</a></li>
                        <li class="drop-menu__item"><a href="#" class="drop-menu__link">T-Shirts</a></li>
                    </ul>
                    <img src="/assets/img/poster-menu-men.png" alt="men" class="drop-menu__pic"></div>
            </div>
        </li>
        {% if  active.page == "women" %}
        <li class="top-menu__item"><a href="/catalog/women/"
                                      class="top-menu__link top-menu__link_current-page">Women</a>
            {% else %}
        <li class="top-menu__item"><a href="/catalog/women/" class="top-menu__link">Women</a>
            {% endif %}
            <div class="drop-menu">
                <div class="drop-menu__arrow drop-menu__arrow_women"></div>
                <div class="drop-menu__flex">
                    <h3 class="drop-menu__headline">Women</h3>
                    <ul class="drop-menu__list">
                        <li class="drop-menu__item"><a href="#" class="drop-menu__link">Dresses</a></li>
                        <li class="drop-menu__item"><a href="#" class="drop-menu__link">Tops</a></li>
                        <li class="drop-menu__item"><a href="#" class="drop-menu__link">Sweaters/Knits</a></li>
                        <li class="drop-menu__item"><a href="#" class="drop-menu__link">Jackets/Coats</a></li>
                        <li class="drop-menu__item"><a href="#" class="drop-menu__link">Blazers</a></li>
                        <li class="drop-menu__item"><a href="#" class="drop-menu__link">Denim</a></li>
                        <li class="drop-menu__item"><a href="#" class="drop-menu__link">Leggings/Pants</a></li>
                        <li class="drop-menu__item"><a href="#" class="drop-menu__link">Skirts/Shorts</a></li>
                        <li class="drop-menu__item"><a href="#" class="drop-menu__link">Accessories</a></li>
                        <li class="drop-menu__item"><a href="#" class="drop-menu__link">Bags/Purses</a></li>
                        <li class="drop-menu__item"><a href="#" class="drop-menu__link">Accessories</a></li>
                    </ul>
                </div>
                <div class="drop-menu__flex">
                    <h3 class="drop-menu__headline">Women</h3>
                    <ul class="drop-menu__list">
                        <li class="drop-menu__item"><a href="#" class="drop-menu__link">Swimwear/Underwear</a></li>
                        <li class="drop-menu__item"><a href="#" class="drop-menu__link">Nightwear</a></li>
                        <li class="drop-menu__item"><a href="#" class="drop-menu__link">Shoes</a></li>
                        <li class="drop-menu__item"><a href="#" class="drop-menu__link">Polos</a></li>
                        <li class="drop-menu__item"><a href="#" class="drop-menu__link">Sweaters & Knits</a></li>
                        <li class="drop-menu__item"><a href="#" class="drop-menu__link">T-Shirts</a></li>
                    </ul>
                    <img src="/assets/img/poster-menu-women.png" alt="women" class="drop-menu__pic"></div>
            </div>
        </li>
        <li class="top-menu__item"><a href="#" class="top-menu__link">Kids</a></li>
        <li class="top-menu__item"><a href="#" class="top-menu__link">Accoseriese</a></li>
        <li class="top-menu__item"><a href="#" class="top-menu__link">Featured</a></li>
        <li class="top-menu__item"><a href="#" class="top-menu__link">Hot Deals</a></li>

    </ul>
</nav>