<nav class="breadcrumbs">
    <div class="breadcrumbs__container">
        <div class="breadcrumbs__left">{{ goods.good_name }}</div>
        <div class="breadcrumbs__right">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Home</a>&#160;/&#160;</li>
                <li class="breadcrumbs__item"><a href="/catalog/man/" class="breadcrumbs__link">Men</a>&#160;/&#160;
                </li>
                <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link breadcrumbs__link_current">New
                        Arrivals</a></li>
            </ul>
        </div>
    </div>
</nav>
<main class="women">
    <div class="central-poster">
        <div class="slider">
            <div class="slide">
                <img src="/assets/img/prod-{{ goods.id_good }}.png" alt="central poster" class="central-poster__pic">
            </div>
            <!--<div class="slide">
        <img src="img/prod-{{ goods.id_good }}.png" alt="central poster" class="central-poster__pic">
      </div>
      <div class="slide">
        <img src="img/prod-{{ goods.id_good }}.png" alt="central poster" class="central-poster__pic">
      </div>
      <div class="slide">
        <img src="img/prod-{{ goods.id_good }}.png" alt="central poster" class="central-poster__pic">
      </div>-->
        </div>
        <div class="central-poster__btnLeft" id="btnLeft"><i class="fas fa-angle-left"></i></div>
        <div class="central-poster__btnRight" id="btnRight"><i class="fas fa-angle-right"></i></div>
    </div>
    <section class="women-collection container">
        <article class="women-collection__content">
            <h2 class="women-collection__headline">{{ goods.category_name }} COLLECTION</h2>
            <p class="women-collection__line"><img src="/assets/img/underline.png" alt="underline"
                                                   class="women-collection__underline"></p>
            <h3 class="women-collection__brand-name">{{ goods.good_name }}</h3>
            <div class="women-collection__tagline">
                <p class="women-collection__desc">{{ goods.description }}</p> <span
                        class="women-collection__material">MATERIAL: &#160;<span
                            class="women-collection__value">{#{{MATERIAL}}#} COTTON </span></span> <span
                        class="women-collection__designer">DESIGNER: &#160;<span
                            class="women-collection__value">{#{{DESIGNER}}#}</span></span>
                <p class="women-collection__price">${{ goods.price }}.00</p>
            </div>
        </article>
        <article class="options-selection">
            <label class="options-selection__type">CHOOSE COLOR
                <br>
                <select class="options-selection__color">
                    <option value="Red">Red</option>
                    <option value="Blue">Blue</option>
                    <option value="Black">Black</option>
                    <option value="White">White</option>
                </select>
            </label>
            <label class="options-selection__type">CHOOSE SIZE
                <br>
                <select class="options-selection__value">
                    <option value="XXL">XXL</option>
                    <option value="XL">XL</option>
                </select>
            </label>
            <label class="options-selection__type">QUANTITY
                <br>
                <input class="options-selection__value" type="number" required min="1" max="1000" placeholder="2">
            </label>
        </article>
        <div class="addToCart">
            <button class="product-cards__cart-btn product-cards__cart-btn_main" data-id="{{ goods.id_good }}"
                    data-name="{{ goods.good_name }}" data-price="{{ goods.price }}">
                <p class="product-cards__cart-icon product-cards__cart-icon_main"><i class="fas fa-cart-plus"></i></p>
                Add to Cart
            </button>

        </div>
    </section>
    {#<section class="product-cards">
        <h2 class="product-cards__caption">you may like also</h2>
        <div class="product-cards__content my-slider">

        </div>
    </section>#}
</main>